

    <section id="section">
        <footer id="footer" class="fBorder navbar-inverse">
            <table>
                <td>
                    <tr>
                        <a class="navbar-brand text text-center text-primary" href="http://localhost/Parking/homepage.php">ParkIT <i class="fa fa-car" style="font-size:30px;color:#d9534f;"></i></a>
                    </tr>
                </td>
                <td>
                    <tr>
                        <div class="container">
                            <ul class="navbar-right">
                                <li>Copyright</li>
                                <li><a>Email</a></li>
                                <li>Venci, Mariq, Miro</li>
                            </ul>
                        </div>
                    </tr>
                </td>   
            </table>
        </footer>
    </section>
</body>
</html>
