<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
</head>
<body>
    <form class="form-inline" method="POST" action="registration.php">
        <div class='container '>
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <div class='container '>
            <label>Password</label>
            <input type="password" name="password">
        </div> 
    <div class='container '>       
    <button class='btn btn-primary' type="submit">Create User</button>
        <a href="index.php">Already have one</a>
        </form>
    </div>  
</body>
</html>